# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
JOGO.vcxproj.user
JOGO.vcxproj.filters
.vs/JOGO/v17/Browse.VC.db
.vs/JOGO/v17/.suo
.vs/JOGO/FileContentIndex/4859a0c6-331e-4b48-b5d3-4a93bf23ec05.vsidx
.vs/JOGO/FileContentIndex/21bbcf5d-8409-4ddc-9529-5368b183828e.vsidx
JOGO.vcxproj
.vs/JOGO/v17/Browse.VC.db-wal
.vs/JOGO/v17/Browse.VC.db-shm
*.opendb
*.vsidx
*.ipch
*.tlog
*.pdb
*.log
*.idb
*.ilk
x64/Debug/JOGO.vcxproj.FileListAbsolute.txt
*.recipe
*.obj
*.obj
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
*.xml
*.xml
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
*.obj
*.obj
