# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.vsidx
*.ipch
*.tlog
*.pdb
*.log
*.idb
*.ilk
*.recipe
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
*.xml
.idea/.name
*.iml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
*.json
*.ninja
*.cmake
cmake-build-debug/CMakeCache.txt
*.bin
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
*.check_cache
*.yaml
cmake-build-debug/CMakeFiles/TargetDirectories.txt
CMakeLists.txt
.idea/ESTRUTURA-DE-DADOS.iml
*.iml
*.iml
CMakeLists.txt
ARQUIVOS_TXT/NomeRG100M.txt
